{% form 'storefront_password' %}
  {% if form.errors %}
    {{ form.errors | default_errors }}
  {% endif %}

  <label for="password-input">Password</label>
  <input type="password" name="password" id="password-input">
  <button type="submit">Unlock</button>
{% endform %}
